/* Colors */
$base-color: #4A28AF;
$blue: #2F00FF;
$dark: #3D3D67;
$gray: #717191;
$gray-10: #E7E7ED;
$purple: #6E46E6;
$white: #FFFFFF;

$background: $base-color, $purple;

/* Font styles */
$font-family: 'Rubik', sans-serif;

$regular: 400;
$semibold: 500;

$x-small: 12px;
$small: 14px;
$medium: 16px;
$large: 24px;
$x-large: 48px;